<mat-sidenav-container>
  <mat-sidenav class="sidenav primary" mode="side" opened fixedInViewport="true" fixedTopGap="64"
          fixedBottomGap="64">
          <mat-nav-list class="nav-list">
                  <a mat-list-item routerLink="/">
                          <i class="material-icons">
                                  home
                          </i>
                          <span class="text-secondary">
                                  Home
                          </span>

                  </a>
                  <a mat-list-item routerLink="/products">
                          <i class="material-icons">
                                  storefront
                          </i>
                          <span class="text-secondary">
                                  Products
                          </span>
                  </a>
                  <a mat-list-item routerLink="/orders">
                          <i class="material-icons">
                                  fastfood
                          </i>
                          <span class="text-secondary">
                                  Orders
                          </span>
                  </a>
                  <a mat-list-item routerLink="/externalOrders">
                          <i class="material-icons">
                                  link
                          </i>
                          <span class="text-secondary">
                                  External Orders
                          </span>
                  </a>
                  <a mat-list-item routerLink="/kitchenOrders">
                          <i class="material-icons">
                                  kitchen
                          </i>
                          <span class="text-secondary">
                                  Kitchen Orders
                          </span>
                  </a>
                  <a mat-list-item routerLink="/ordersPanel">
                          <i class="material-icons">
                                  settings
                          </i>
                          <span class="text-secondary">
                                  Orders Panel
                          </span>
                  </a>
          </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
          <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>